<!DOCTYPE html>
<html>
	<head>
	 	<title>Lamp</title>
	</head>
<body>
	<h1>{{bucketname}}</h1>
	<form action=show_all_videos>
			<input type="submit" value="Display ALL FILEs">
	</form> 
	<div class="grid-container">
		{% for name in list_example %}
		<div class="grid-item">
		<li>{{ name[0] }}</li>
		<form action={{name[2]}} data-method="delete">
			<input type="submit" value="Delete">
		</form> 
		<img src={{name[1]}}>
		</div>
		{% endfor %}
	</div> 

	</body>
<script>
function myFunction() {
    document.getElementById("demo").innerHTML = "Paragraph changed.";
}
</script>
</html>

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>