<!DOCTYPE html>
<html>
	<head>
	 	<title>Lamp</title>
	</head>
<body>
	<h1>{{bucketname}}</h1>
	<form action=display>
			<input type="submit" value="Display GIFs">
	</form>
	<form action={{make_all}}>
			<input type="submit" value="Make GIFs for all">
	</form> 
	<div class="grid-container">
		{% for name in list_example %}
		<div class="grid-item">
		<li>{{ name[0] }}</li>
		 <form action={{name[1]}} method="post">
			<input type="submit" value="makeGIF">
		</form> 
		</div>
		{% endfor %}
	</div> 

	</body>
</html>

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>